<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/sloniki">
        GO BACK
    </a>
</button>

<form method="POST" action="{{action}}">
    <fieldset>
        <label>
            Username
            <input name="username" placeholder="Username" required />
        </label>
        
        <label>
            Password
            <input type="password" name="password" placeholder="Password" required />
        </label>
    </fieldset>

    <input
            type="submit"
            value="DELETE"
    />
</form>