<body>
    <h1>Links on our tables</h1>
    <p><a style="color:rgb(229, 102, 168)" href="/students">ALL STUDENTS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/sloniki">SLONIKI PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/weapons">WEAPONS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/games">GAMES PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/cats">CATS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/heroes">HEROES PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/street_food">STREET FOOD</a></p>
</body>

