<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link
              rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      >
  </head>
  <body>
    <main class="container">
        {{{body}}}
    </main>
  </body>
</html>
