<div style="position: absolute; top: 20px; left: 20px; background-color:black; border-radius: 50px;">
    <a href="/games" style="
        display:inline-block;
        padding: 10px 20px;
        color: rgb(255, 255, 255); 
        text-decoration: none; 
        border-radius: 20px;
        font-weight: bold;
        font-family: sans-serif;
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    ">←</a>
</div>

</button>
<form method="POST" action="{{action}}">
    <fieldset>
        <div style="margin-top: 150px"></div>
        <label>
            <h1>Name</h1>
            <input
                    name="name"
                    placeholder="Enter the name of the game"
                    autocomplete=""
            />
        </label>
        <label>
            <h1>Mode</h1>
            <input
                    name="mode"
                    placeholder="Is this game online or offline? Online/Offline/Both"
                    autocomplete=""
            />
        </label>
        <label>
            <h1>Cost</h1>
            <input
                    name="cost"
                    placeholder="How much is this game cost?"
                    autocomplete=""
            />
        </label>
    </fieldset>

    <input
            style="display: block; margin: auto; width: auto; background-color:green; border-color:aliceblue" 
            type="submit"
            value="SAVE"
    />
</form>